main {
    padding: 0 100px;
}

#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin: 30px 0;
    align-items: center;
}

article h2 {
    font-size: 60px;
    margin-top: 0;
}

article .location {
    font-size: 22px;
    margin-bottom: 15px;
    margin-top: 0;
}

article .tagline {
    font-size: initial;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    justify-self: center;
}

.photograph-header img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    justify-self: end;
}

.mediaSorting label {
    font-weight: bold;
    font-size: 18px;
    position: relative;
}

#mediaSorting {
    background-color: #b42424;
    width: 130px;
    color: white;
    font-size: 18px;
    padding: 10px;
    margin-left: 15px;
    border-radius: 4px;
    cursor: pointer;
    outline: 0;
    outline-offset: 0;
    border: none;
}


.list-media {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin: 50px 0;
}

.list-media article {
    width: 300px;
}


.list-media .media {
    height: 300px;
    width: 300px;
    object-fit: cover;
    cursor: pointer;
}

.list-media .play-button {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: rgba(0,0,0,0.65);
    border-radius: 100%;
    top: 150px;
    left: 150px;
    margin: -30px 0 0 -30px;
    cursor: pointer;
}

.list-media .play-button:after {
    content: '';
    display: block;
    position: absolute;
    left: 22px;
    top: 10px;
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent transparent white;
}

.list-media .title {
    width: 300px;
    color: #901C1C;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    margin-top: 5px;
}

.list-media .like {
    display: flex;
    justify-content: flex-end;

}

.list-media .logoLike {
    font-size: 18px;
    margin-left: 8px;
    color: rgba(145, 28, 28, 0.50);
    cursor: pointer;
}

.list-media .logoLike:hover {

    color: rgba(145, 28, 28, 0.75);
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

